body{
	background-color: #E8ECF3;

	background-color: black;
}

h1 {
	font-size: 34px;
    text-align: center;
    margin-top: 50px;
}

main > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
	margin-top: 80px;
	margin-bottom: 100px;
}

ul {
	display: flex;
    align-items: center;
    justify-content: center;
}


ul li {
	padding: 10px 10px 25px;
	background: #fff;
    border-radius: 15px;
	margin: 15px;
	position: relative;
	top: 0px;
	transition: .2s;
}

ul li:hover {
	transform: scale(1.1);
    top: -20px;
}

ul li span {
	height: 250px;
    width: 190px;
    display: block;
	border-radius: 5px;
}

ul li p {
	font-size: 22px;
    text-align: center;
    margin-top: 20px;
	color: #545967;
	cursor:pointer;
}
ul li p:hover {
	color:#0C1226
}


span {
	display: flex;
    flex-direction: column;
    align-items: center;
}
a{
	width: 340px;
    background-color: #7E6CCA;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
	padding: 23px;
	text-align: center;
}

span i{
	font-size: 18px;
    color: #0C1226;
    margin-top: 20px;
	font-style: normal;
}



main > p {
	width: 450px;
    background-color: #fff;
    border-radius: 23px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #0C1226;
    margin: 100px auto;
}

main > i {
	position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: #191919e0;
    width: 280px;
    text-align: center;
    padding: 20px;
    font-size: 21px;
    color: #fff;
    border-radius: 45px;
	opacity: 0;
    visibility: hidden;

}

main > i.is--active {
	opacity: 1;
    visibility: visible;
	top: 20%;
	transition: 0.8s ease-out;
}
